/* ==========================================================================
  BASIC - LAYOUT
   ========================================================================== */
html, body {
  background: $white;
  font: normal $font-size-base/1.5 $font-base;
  color: $black;
  overflow-x: hidden;
  
  .is-scrolling {
    pointer-events: none;
  }
}
body {
  min-width: initial;
}
.l-container {
  relative();
  margin-right: auto
  margin-left: auto
  width: 100%;
  //min-width: ($container-widths.min + $grid-gutter);
  //max-width: ($container-widths.max + $grid-gutter);
  //padding: 0 ($grid-gutter / 2);
  padding: 0 vw(13);

  &-fluid {
    relative();
    margin-right: auto
    margin-left: auto
    width: 100%;
    padding: 0 ($grid-gutter / 2);
    max-width: 117rem;
  }
}

.layout {
  min-size($container-widths.min, 100vh);
  width: 100vw;
  background: linear-gradient(to bottom, $pink-soft, $pink);
  background-attachment: fixed;
  flexy(flex-start, center, nowrap, column);

  &--default,
  &--tabs {
    background-image: linear-gradient(to bottom, $white, $pink-vlight, $pink-baby);
  }
}

.l-spacer {
  flex-grow: 1
}

.l-float {
  &--left {
    float: left;
    
    ^[0]--outside& {
      margin-left: -52%;
    }
  }
  &--right {
    float: right;
  
    ^[0]--outside& {
      margin-right: -52%;
    }
  }
  &--outside {
    width: 75%;
  }
}

.st {
  position: static;
}

video {
  display: block;
  width: 100%;
  height: auto;
}
