.modal {
  fixed(0px, 0px);
  size(100vw, 100%);
  z-index: 9;
  display: none;
  overflow-y: auto;

  .layout & {
    size(100%, 100vh);
  }

  &__outer {
    padding: vmin(100, 950) 0;
    flexy(center, center)
  }

  &__window {
    width: 100%;
    max-width: 950px;
    background: $white;
    //absolute(50%, 50%);
    //transform: translate(-50%, -50%);
    //max-height: 100vh;
    border-radius: 0;
    display: none;

    ^[0]--small & {
      max-width: 100vw;
    }
  }

  &__close {
    absolute(0%);
    right: 0;
    z-index: 5;
    size(vmin(40));
    padding: vmin(20);
    color: $marine;
  }

  &__inner {
    overflow-y: auto;
  }

  &__content {
    width: 100%;
    padding: vmin(60) vmin(20) vmin(40);
    ^[0]--video & {
      padding: 0;

      .video {
        overflow: hidden;
      }
    }
  }
}

.fullsize-popup {
  display: none;
  z-index: 9;
  absolute(0px, 0px);
  size(100%, 100vh);
}

.popup {
  absolute(0, vmin(18), vmin(20), vmin(18));
  padding: vmin(40) vmin(25);
  border-radius: vmin(10);
  background: $white;
  color: $black;
  transition: transform 0.5s 0.5s;
  transform: translateY(120%);
  box-shadow: 0 vmin(3) vmin(6) rgba($black, 0.16);

  &.active {
    transform: translateY(0);
  }

  &-wrapper {
    display: none;
    fixed(0%, 0%);
    size(100%);
    background: rgba($black, 0.2);
  }
}