$select-padding-y = 13px;
$select-padding-x = 25px;
$select-arrow-width = 30px;
$z-index--dropdown = 9;
$select-font = $font-base;
$select-font-size = 15px;
$select-border-color = transparent;
$select-bg = $white;
$select-bg--selected = transparent;
$select-color = #5e5e5e;
$select-placeholder-color = $primary;
$select-color--selected = $secondary;
$select-shadow = 0 8px 18px rgba(#9a80c9, 0.3);