.mechanic {
  &__heading {
    padding: vmin(20) 0 vmin(25);
    text-align: center;
  }
  &__carousel {
    height: vmin(538);
    .swiper-slide {
      &__index {
        size(100%);
        flexy(center, center);
        background: $pink-pig;
        color: $white;
        font: bold vmin(30)/1 $font-base;
      }
    }
  }
}