.selfy {
  fixed(0%, 0%);
  size(100%)
  &__area {
    absolute(0%, 0%);
    size(100%);
    background: $dark;
  }
  &__logo {
    absolute(0, vmin(40), vmin(36));
    size(vmin(290), vmin(190));
    color: $white;
  }
}